<footer class="footer section-pattern footer-bg mt-40">
  <!-- Footer Top Begin -->
  <div class="footer-top pt-60">
    <div class="container border-bottom">
      <div class="row mb-20">
        <div class="col-lg-4  col-sm-6">
          <div class="widget widget_contact_info mb-0">
            <div class="widget-logo"><img class="footer-logo-thumb" src="https://i.imgur.com/QL53CFw.png"></div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <div class="widget widget_contact_info">
            <a href="http://www.goshio.com/feature">Feature</a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <div class="widget widget_contact_info">
             <a href="http://www.goshio.com/">Goshio</a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <div class="widget widget_contact_info">
             <a href="http://www.goshio.com/demo">Demo</a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <div class="widget widget_contact_info">
            <a href="http://www.goshio.com/pricing">Pricing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Top End -->
  <div class="footer-bottom ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright-text text-center">
            <span>
            <a href="#">Goshio</a> © Copyright 2019.All rights reserved.                               </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>