<% content_for :title, "Error 404 Page not found - Goshio.com" %>

<section class="min-vh-100 pt-5 pb-5 pb-lg-0 pt-lg-0 vw-100 d-flex align-items-center bg-404 ovx-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- 404 Content Begin -->
        <div class="not-found-content text-center">
        	<%=image_tag "404.png", class: "image-404"%>
          <!-- <img src="http://themelooks.org/demo/ideabuz/wp-content/uploads/2019/06/404.png" alt="404"> -->
          <p>You've been tricked into click on link that can't be found.
            Please check the url or go back to <a href="/">Blog</a>
          </p>
          <!-- Widget Search Begin -->
          <div class="not-found-form">
          </div>
        </div>
        <!-- 404 Content End -->
      </div>
    </div>
  </div>
</section>